<!DOCTYPE html>
<html>
<head>
	<title>Yournalism-Register</title>
	<meta name="mobile-web-app-capable" content="yes">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='shortcut icon' href='../favicon.ico'>
	<!-- We include CSS -->
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!-- Blue header where user img and app title is -->
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
				<img src="images/user.png"></img>
	      <!-- Title -->
	      <span id="tit" class="mdl-layout-title">Yournalism-Register</span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>
	    </div>
	  </header>
	  	<main class="mdl-layout__content">
			<!-- Tabs definition -->
			<div class = "mdl-tabs mdl-js-tabs">
               <div class = "mdl-tabs__tab-bar">
                  <a href = "#tab1-panel" class = "mdl-tabs__tab is-active">Streams</a>
                  <a href = "#tab2-panel" class = "mdl-tabs__tab">Articles</a>
                  <a href = "#tab3-panel" class = "mdl-tabs__tab">Trends</a>
               </div>
            </div>
	  </main>
	</div>
</body>
</html>
